<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="uptime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <uptime.Properties.Settings>
      <setting name="mail_to" serializeAs="String">
        <value>eric.leung@kef.com</value>
      </setting>
      <setting name="emji" serializeAs="String">
        <value>🚨🚨🚨 eric</value>
      </setting>
      <setting name="TelegramToken" serializeAs="String">
        <value>
          Wc/QP6DpWIxfmFNz3Q55gvsu/jMToV5B3dhVOsW99bjelcP2AgxD/cOxgU9T0psh
        </value>
      </setting>
      <setting name="siteUser" serializeAs="String">
        <value>ntx002@kef.com</value>
      </setting>
      <setting name="TEST" serializeAs="String">
        <value>TEST data</value>
      </setting>
    </uptime.Properties.Settings>
  </userSettings>
</configuration>
